/* ?SOPRA I 768PX (TABLET) S*/
@media screen and (min-width: 768px) {

    /* Sidebar diventa più larga */
    .sidebar {
        flex-basis: 160px;
    }

    /* Sparisce il logo spotify piccolo e compare quello grande */
    #small-logo {
        display: none;
    }

    #big-logo {
        display: block;
    }

    /* Compaiono le scritte vicino alle icone della sidebar */
    .sidebar-logo span {
        display: inline-block;
    }

    .sidebar-info span {
        display: inline-block;
    }

    .sidebar-info {
        align-self: flex-start;
        align-items: flex-start;
    }

    /* Compare la sezione playlist */
    .sidebar-playlist {
        display: block;
    }

    /* Compare linea tra install section e user info */
    .user-info {
        padding-top: 10px;
        border-top: 1px solid var(--secondarycolor);
    }

    /* La sidebar diventa display block */
    .sidebar {
        display: block;
    }

}

/* ?SOPRA I 800PX (DESKTOP) M*/
@media screen and (min-width: 800px) {
    main .col {
        flex-basis: calc(100% / 4);
    }
}

/* ?SOPRA I 1200PX (DESKTOP) L*/
@media screen and (min-width: 1200px) {
    main .col {
        flex-basis: calc(100% / 6);
    }
}