/* ?CSS PROPERTIES */
/* Colors */
:root {
    --primarycolor: #fff;
    --secondarycolor: #a3a3a3;
}


/* ?CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ?GENERALS */

/* !Regole generiche */

body {
    color: var(--secondarycolor);
}

a {
    color: #a3a3a3;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
    /* display: block; */
}

/* !2 blocchi principali */
#top-content {
    height: calc(100vh - 80px);
    background-color: blue;
    display: flex;
}

footer {
    height: 80px;
    background-color: brown;
}

/* !Blocchi dentro al top-content */
main {
    overflow: auto;
    flex-basis: 90%;
}

.sidebar {
    max-height: calc(100vh - 80px);
    flex-grow: 1;
    flex-basis: 10%;
    /* height: 100%; */
    padding: 10px;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

/* !Blocchi dentro al main */
header {
    height: 80px;
    background-color: aquamarine;
    position: sticky;
    top: 0;
    right: 0;
}




/* ?UTILS */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px
}

.hidden {
    display: none;
}



/* ?BODY */

/* Sezione Sidebar */
/* !Sidebar-logo */
.sidebar-logo {
    text-align: center;
}

.sidebar-logo span {
    display: none;
}

.sidebar-logo img {
    width: 50%;
    margin-bottom: 5px;
}

/* !Sidebar-playlist */


/* !Sidebar-info */
.sidebar-info {
    background-color: crimson;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.sidebar-info img {
    width: 40%;

}

.sidebar-info address {
    font-style: normal;
    font-weight: bold;
}

/* MAIN */

/* !Header */
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

header a {
    color: var(--primarycolor);
    border: 2px solid var(--primarycolor);
    border-radius: 20px;
    padding: 10px 20px;
}

/* !Navbar */
#main-navbar>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}


/* !Regole generiche per le row */
main .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;
    row-gap: 1rem;
    margin-top: 20px;
}

main .col {
    flex-basis: calc(100% / 2);
    padding: 0 .5rem;
    border: 1px solid black;
}

.card {
    height: 200px;
    background-color: red;
}



/* Sections */

main section {
    margin-top: 50px;
}

main h1 {}


/* !Recently played */