/* ?CSS PROPERTIES */
/* Colors */
:root {
    --primarycolor: #fff;
    --secondarycolor: #a3a3a3;
    --bglight: #141922;
    --bgdark: #000000;
}


/* ?CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ?GENERALS */

/* !Regole generiche */

body {
    color: var(--secondarycolor);
}

a {
    color: #a3a3a3;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* !2 blocchi principali */
#top-content {
    height: calc(100vh - 80px);
    background-color: var(--bglight);
    display: flex;
    overflow: auto;
}

footer {
    height: 80px;
    background-color: #282828;
    padding: 10px;
    display: flex;
    /* display: flex;
    align-items: center; */
}

/* !Blocchi dentro al top-content */
main {
    overflow: auto;
    flex-grow: 1;
}

.sidebar {
    flex-basis: 50px;
    flex-shrink: 0;
    padding: 10px;
    background-color: var(--bgdark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}


.sidebar li:hover {
    text-shadow: 0 0 10px white;
}

.sidebar a:hover {
    color: var(--primarycolor);
}


/* ?UTILS */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px
}


/* ?BODY */

/* Sezione Sidebar */
/* !Sidebar-logo */
.sidebar-logo {
    text-align: center;
}

.sidebar-logo span {
    display: none;
}

.sidebar-logo img {
    width: 25px;
    margin-bottom: 5px;

}

#big-logo {
    display: none;
    width: 130px;
    margin: 10px 0 30px 0;
}

#home {
    color: var(--primarycolor);
}

.sidebar-logo a {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}


/* !Sidebar-playlist */
.sidebar-playlist {
    height: 200px;
    overflow: hidden;
    display: none;
    margin: 20px 0 180px 0;
}

.sidebar-playlist:hover {
    overflow: auto;
}


.sidebar-playlist h3 {
    color: var(--primarycolor);
    font-size: 1rem;
}

.create-playlist {
    margin: 20px 0;
    cursor: pointer;
}


.create-playlist:hover {
    color: var(--primarycolor);
    text-shadow: 0 0 10px white;
}


.sidebar-playlist li {
    margin-top: 5px;
}




/* !Sidebar-info */
.sidebar-info {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.sidebar-info>* {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-info img {
    width: 20px;
}

.install-section {
    margin-left: 2px;
}

.sidebar-info address {
    font-style: normal;
    font-weight: bold;
}

.sidebar-info span {
    display: none;
}

.user-info img {
    width: 25px;
    background-color: var(--secondarycolor);
    border-radius: 50%;
    padding: 2px
}

.username {
    color: var(--primarycolor);
}



/* MAIN */

/* !Header */
header {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    height: 80px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;
}

#full-header a {
    position: relative;
}

header a {
    color: var(--primarycolor);
    border: 2px solid var(--primarycolor);
    border-radius: 20px;
    padding: 10px 20px;
}

header a:hover {
    transform: scale(1.1);
}

/* !Navbar */
#main-navbar>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

#main-navbar li:hover a {
    color: var(--primarycolor)
}

/* Linea verde sotto le li della navbar */
#main-navbar li.active::after {
    content: '';
    display: block;
    width: 30%;
    height: 2px;
    background-color: #adff2f;
    margin: 3px auto;
}


/* !Regole generiche per le row */
main .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;
    row-gap: 1rem;
    margin-top: 20px;
}

main .col {
    flex-basis: calc(100% / 2);
    padding: 0 .5rem;
}

.card-image>img {
    max-height: 60%
}

.card-text {
    text-align: center;
}

.card-text h2 {
    color: var(--primarycolor);
    font-size: 1.5rem;
    margin: 10px 0 5px 0;
}

.card-image {
    position: relative;
}

.card-image:hover .play-button {
    display: flex;
    cursor: pointer;

}

.card-image .play-button {
    color: var(--primarycolor);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}




/* Sections */

main section {
    margin-top: 50px;
}

main h1 {
    font-size: 2rem;
    color: var(--primarycolor);
}


/* !Popular artists */

.popular-artists .card-image img {
    border-radius: 50%;
}






/* ?FOOTER */

footer i {
    cursor: pointer;
}

footer i:hover {
    text-shadow: 0 0 10px white;
}

/* Sezione a sinistra */
.footer-song-details {
    height: 60px;
    padding: 10px 0;
    flex-basis: 25%;
    display: flex;
    gap: 10px;
}

.song-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.song-info h2 {
    color: var(--primarycolor);
}

.song-name>* {
    font-size: .7rem;
    margin-left: 10px;
}

.song-name {
    flex-basis: 10%;
    flex-grow: 1
}

.song-name h4:hover {
    color: var(--primarycolor);
    text-decoration: underline;
}

.footer-song-details img {
    height: 70%;
    width: auto;
}

.favorite {
    width: 10px;
    flex-grow: 1;
    align-self: center;
}

.favorite i:hover {
    color: var(--primarycolor);
}


/* Sezione centrale */
.footer-play {
    flex-basis: 50%;
    text-align: center;
    color: var(--primarycolor);
    padding-top: 5px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}


.fa-circle-play {
    margin: 0 10px;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.progress-line {
    height: 5px;
    width: 40%;
    background-color: var(--secondarycolor);
    border-radius: 5px;
    position: relative;
}

.current-value {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    background-color: var(--primarycolor);
    border-radius: 5px;
}

.current-value:hover {
    background-color: #adff2f;
}

.current-value-point {
    width: 15px;
    height: 15px;
    background-color: var(--primarycolor);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    translate: 50% -30%;
    display: none;
}

.current-value:hover .current-value-point {
    display: block;
}


/* Sezione a destra */
.footer-volume {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    color: var(--primarycolor)
}

.footer-volume .progress-line {
    width: 30%;
}